{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid account-access-containers">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-2 mt-4">
      <h2 class="text-center">{% trans "Register" %}</h2>
      <hr>
      <p class="text-center">
        {% blocktrans %}
          Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
        {% endblocktrans %}
      </p>

      {% if form.errors %}
        <div class="alert alert-danger">
          <ul class="mb-0">
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error|escape }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error|escape }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <!-- Username -->
        <div class="mb-4">
          {{ form.username.label_tag }}
          {{ form.username|add_class:"form-control" }}
        </div>

        <!-- Password -->
        <div class="mb-4">
          {{ form.password1.label_tag }}
          {{ form.password1|add_class:"form-control" }}
        </div>

        <!-- Confirm Password -->
        <div class="mb-4">
          {{ form.password2.label_tag }}
          {{ form.password2|add_class:"form-control" }}
        </div>

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <!-- Submit button -->
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary w-100">{% trans "Register" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}