{% extends "base.html" %}
{% load static %}

{% block header %}
<!-- Header For The Forum Page -->
<header class="header"
    style="background-image: url('https://res.cloudinary.com/diz4bvzz9/image/upload/v1738429679/forum-header_ewipky.jpg');">
    <div class="container position-relative">
        <div class="row justify-content-center align-items-center" style="height: 60vh;">
            <div class="col-12 text-center">
                <div class="site-heading">
                    <h1>The Snug Forum</h1>
                    <span class="subheading">Join the Conversation – Share Your Thoughts, Discuss Articles, or Just
                        Catch Up with the Village</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Conversations Happening In The Snug</h1>
    <hr>

    {% if user.is_authenticated %}
    <!-- List of existing threads -->
    <div class="mt-4 threads-list">
        <h2>All Threads</h2>
        {% if threads %}
        <ul class="list-group">
            {% for thread in threads %}
            <li class="list-group-item">
                <h4><a href="{% url 'thread_detail' thread.slug %}">{{ thread.title }}</a></h4>
                <p>{{ thread.description|truncatewords:20 }}</p>
                <hr>
                <p>Created by 
                    <strong>{{ thread.author.username }}</strong> on <strong>{{ thread.created_on|date:"F j, Y" }}</strong>
                </p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No threads found. Be the first to start a conversation!</p>
        {% endif %}
    </div>

    <hr>

    <!-- Form for creating a new thread -->
    <div class="mb-4 new-thread">
        <h2>Create a New Thread</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create Thread</button>
        </form>
    </div>
    {% else %}
    <!-- Message for unauthenticated users -->
    <p><a href="{% url 'account_login' %}">Log in</a> to view, create, and comment on threads in the Snug.</p>
    {% endif %}
</div>


{% endblock %}