/* ~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.Header Styling */
.header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.site-heading {
    color: white;
    text-align: center;
    z-index: 2;
}

.site-heading h1 {
    font-size: 3rem; 
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* Shadow for visibility */
}

.site-heading .subheading {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Shadow for visibility */
    margin-top: 0.5rem;
}

/* ~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~. Navbar Styling */
.navbar {
    background-color: rgb(31, 34, 26);
    box-shadow: 0 11px 20px rgba(255, 251, 251, 0.411); /* Shadow */
    position: relative;
    z-index: 10; /* Ensures navbar stays on top */
}

.navbar-brand {
    text-decoration: none;
    color: white;
}

.navbar-brand:hover {
    color: rgb(127, 148, 106);
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:focus {
    text-decoration: underline;
    color: rgb(127, 148, 106);
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.nav-item a:hover {
    color: rgb(127, 148, 106);
}

.dropdown-menu {
    background-color: rgb(127, 148, 106);
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: rgb(31, 34, 26);
}


/* ~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~.~. Responsiveness - Tablet Sizes */
@media (max-width: 768px) {
    .header .row {
        height: 50vh;
    }

    .site-heading h1 {
        font-size: 2.5rem;
    }

    .site-heading .subheading {
        font-size: 1.2rem; 
    }
}


/*Responsiveness - Mobile Sizes */
@media (max-width: 576px) {
    .header .row {
        height: 40vh; 
    }

    .site-heading h1 {
        font-size: 2rem;
    }

    .site-heading .subheading {
        font-size: 1rem;
    }
}
